@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700,900i&display=swap");

:root {
  --primary-color: #2c2c2c;
  --hover-color: #6a6c5d;
  --bg-color-light: #d7d8ca;
  --bg-color-dark: #9fa291;
  --box-size: 350px;
  --box-margin: 1.5rem;
  --logo-width: 150px;
  --mask-shade: 105;
  --shadow-shade: 30;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
    ellipse at top,
    var(--bg-color-light),
    var(--bg-color-dark)
  );
  width: 100%;
  height: 100vh;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

nav {
  display: grid;
  min-height: 17vh;
}

.logo-nav {
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
}

.logo-container {
  position: relative;
  width: var(--logo-width);
  height: calc(var(--logo-width) / 2);
  grid-column: 3/4;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
}

.portfolios {
  position: relative;
  text-transform: uppercase;
  padding: 0rem;
  text-align: center;
  /* background: white; */
}

.portfolios h1 {
  font-weight: 900;
  letter-spacing: 2rem;
  font-style: italic;
  font-size: 2.25rem;
  padding: 0rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-color);
}

.box-container {
  position: relative;
}

.box {
  background: var(--primary-color);
  width: var(--box-size);
  height: var(--box-size);
  position: relative;
  text-align: center;
  display: inline-block;
  margin: var(--box-margin);
  padding: 0rem;
  box-shadow: 0px 50px 45px -10px #7b7d69;
  color: var(--bg-color-light);
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(
    var(--mask-shade),
    var(--mask-shade),
    var(--mask-shade),
    0.5
  );
  box-shadow: inset 0px 25px 150px 60px
    rgba(var(--shadow-shade), var(--shadow-shade), var(--shadow-shade), 0.4);
  transition: all ease 0.5s;
}

.box:hover {
  font-style: italic;
  font-weight: 900;
}

.box:hover .box-comment {
  color: var(--bg-color-light);
}

.linked-box:hover::after {
  background: var(--hover-color);
}

.under-construction:hover::after {
  background: #741111;
}

.box-comment {
  font-size: 1.25rem;
  position: absolute;
  top: 95%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -95%);
  z-index: 3;
  color: transparent;
  white-space: nowrap;
}

.dev-box {
  position: relative;
  background: url("../img/devBtn.jpg") no-repeat center center/cover;
  overflow-y: hidden;
}

.photo-box {
  position: relative;
  background: url("../img/photoBtn.jpg") no-repeat center center/cover;
  overflow-y: hidden;
}

.photo-box p {
  top: 90%;
}

.box-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

hr {
  color: transparent;
  border: 0;
  height: 2vh;
}

#after-logo {
  height: 7vh;
}

#before-footer {
  height: 15vh;
}

footer {
  background: transparent;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.5rem;
  color: var(--primary-color);
}

/*Responsiveness*/
@media screen and (max-width: 800px) {
  /* body {
    height: 100%;
  } */

  .logo-container {
    height: calc(var(--logo-width) / 2);
  }

  .portfolios h1 {
    letter-spacing: 1.5rem;
    font-size: 1.5rem;
  }

  .box {
    width: calc(var(--box-size) * 0.75);
    height: calc(var(--box-size) * 0.75);
    margin: var(--box-margin);
    box-shadow: 0px 60px 60px -10px #8a8c76;
    font-size: 1.5rem;
  }

  .box-comment {
    font-size: 0.6rem;
  }

  #after-logo {
    height: 7vh;
  }

  #before-footer {
    height: 10vh;
  }

  footer {
    font-size: 0.45rem;
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 645px) {
  body {
    height: 115vh;
  }

  /* .logo-container {
    height: calc(var(--logo-width) / 2);
  } */

  .portfolios h1 {
    position: relative;
    letter-spacing: 1.25rem;
    font-size: 1.25rem;
    left: 1.75%;
    -webkit-text-stroke: 0.7px var(--primary-color);
  }

  .box {
    width: calc(var(--box-size) * 0.45);
    height: calc(var(--box-size) * 0.45);
    margin: calc(var(--box-margin) * 0.5);
    box-shadow: 0px 60px 60px -10px #8a8c76;
    font-size: 1rem;
  }

  #before-footer {
    height: 15vh;
  }

  footer {
    font-size: 0.25rem;
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 400px) {
  .portfolios h1 {
    left: 2.5%;
    -webkit-text-stroke: 0.5px var(--primary-color);
  }

  .box {
    width: calc(var(--box-size) * 0.4);
    height: calc(var(--box-size) * 0.4);
    margin: calc(var(--box-margin) * 0.4);
    box-shadow: 0px 60px 60px -10px #8a8c76;
    font-size: 0.85rem;
  }

  footer {
    font-size: 0.1rem;
    letter-spacing: 0.1rem;
  }
  hr {
    height: 2vh;
  }
}

@media screen and (max-height: 700px) {
  body {
    height: 120vh;
  }
}

@media screen and (max-height: 550px) {
  body {
    height: 140vh;
  }
}
